        *{
            padding: 0;
            margin: 0;
            font-family: sans-serif;
        }

        /* ==== MEDSOS ==== */
        .medsos{
            padding: 5px 0;
            background-color: #0e4c6f;
        }
        
        .medsos a{
            color: white;
            text-decoration: none;
        }
        .medsos a:hover{
            color: yellow;
        }

        .medsos ul li{
            display: inline-block;
            padding-right: 15px;

        }

        .container{
            width: 80%;
            margin: 0 auto;
            /* border : 1px solid; */
        }

        
        /* header{
            border: 1px solid;
        } */
        header h1{
            float: left;
            padding: 15px 0;
            color: #0e4c6f;
        }

        header h1 a{
            text-decoration: none;
            color: #0e4c6f;
        }

        header ul{
            /* border: 1px solid; */
            float: right;
            /* padding: 30px 0; */
        }

        header ul li{
            display: inline-block;
        }

        header ul li a{
            text-decoration: none;
            padding: 25px 20px;
            display: inline-block;
        }

        header ul li a:hover{
            text-decoration: none;
            padding: 25px 20px;
            color: white;
            background-color: #0e4c6f;
        }

        .active{
            background-color: #0e4c6f;
            color: white;
            text-decoration: none;
        }

        .banner{
            height: 60vh;
            background-image: url('https://images.unsplash.com/photo-1473366311188-fb0d178ade27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

        }

        .banner:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgb(56, 119, 146, 0.5);
        }

        .banner h2{
            color: white;
            border: 3px solid white;
            padding: 20px 25px;
            z-index: 1;
        }

        .container::after{
            content: '';
            display: block;
            clear: both;
        }

        section{
            padding: 50px 0;

        }
        /* ==== */

        section h3{
            text-align: center;
            padding: 20px 0;
            color: #0E4C6F;
            margin-bottom: 25px;
        }

        .about p{
            color: #666;
            word-spacing: 2px;
            text-align: justify;
            line-height: 30px;
        }

        .about, .service{
            padding-bottom: 100px;
        }

        .service{
            background: linear-gradient(
                90deg,#F6F8FD 29px,transparent 1%) center,linear-gradient(#F6F8FD 29px,transparent 1%) center,#bfc5d3;
            background-size: 30px 30px;
        }

        .box{
            /* border: 1px solid; */
            color: #0e4c6f;
        }

        .box .col-4{
            width: 25%;
            padding: 20px;
            float: left;
            text-align: center;
            /* border: 1px solid; */
            box-sizing: border-box;
        }

        .icon{
            border: 1px solid;
            width: 70px;
            height: 70px;
            border-radius: 50px;
            line-height: 70px;
            text-align: center;
            font-size: 20px;
            margin: 0 auto;
        }

        .box .col-4 h4{
            margin: 20px;
        }

        .box .col-4 h5{
            margin: auto;
        }

        .footer{
            padding: 30px 0;
            background-color: #0e4c6f;
            color: white;
            text-align: center;
        }

        .banner{
            height: 80vh;
            background-image: url('https://images.unsplash.com/photo-1473366311188-fb0d178ade27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgba(50, 129, 163, 0.5);
        }

        .banner h2{
            color: white;
            border: 3px solid white;
            padding: 20px 25px;
            z-index: 1;
        }

        .container::after{
            content: '';
            display: block;
            clear: both;
        }

        /* ========= */

        .aboutheader{
            background: #0e4c6f;
        }

        .aboutheader h3{
            color: white;
        }

        h2{
            float: left;
            padding: 15px 0px;
            color: #c9c9c9;
        }

        .bannerabout{
            height: 80vh;
            background-image: url('https://images.unsplash.com/photo-1473366311188-fb0d178ade27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=752&q=80');
            background-size: cover;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .bannerabout:after{
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: rgb(56, 119, 146, 0.5);
        }

        /* =========== */
        /* .contact{
            background: linear-gradient(90deg,#f6f8fd 29px, transparent 1%) center,linear-gradient(#f6f8d 29px,transparent 1%) center,#bfc5d3);
            background-size:30px 30px;
        } */

        .iconcontact{
            /* border: 1px solid; */
            width: 70px;
            height: 70px;
            border-radius: 10px;
            line-height: 70px;
            text-align: center;
            font-size: 20px;
            margin: 0;
        }

        .containercontact{
            width: 80%;
            margin: 0 auto;
            text-align: center;
        }

        /* .maps{
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-size: cover ;
        } */

        .contactheader{
            background-color: #0e4c6f;
        }

        .contactheader{
            color: white;
        }
/* ====footer==== */

footer{
    padding: 30px 0;
    background-color: #0e4c6f;
    color: white;
    text-align: center;
}
